---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';

---

<Layout
	title="About Me"
	description="Some information goes here"
	pubDate={new Date('June 20 2025')}
	heroImage={AboutHeroImage}
>
<p>
I'm a middle aged DevOps engineer who kind of hates his job and is looking to retire.  While I wait for that, I figured I should probably mess around with some IT stuff so I don't forget all of it.	
</p>
	
</Layout>
