---
import Layout from '../layouts/BlogPost.astro';
import LightGalleryInit from '../components/LightGalleryInit.jsx';
import 'lightgallery/css/lightgallery.css';
import 'lightgallery/css/lg-zoom.css';
import 'lightgallery/css/lg-thumbnail.css';
---

<Layout>
  <div id="lightgallery" class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <a class="gallery-item" href="/images/gallery2.jpg" data-lg-size="1600-1067">
      <img src="/images/thumbs/gallery1.jpg" alt="Gallery 2" />
    </a>
  </div>

  <LightGalleryInit client:load />
</Layout>
