---
import Layout from '../layouts/Layout.astro';
import LightGallery from '../components/LightGallery.astro';
---

<Layout title="Gallery 1">
  <h1 class="text-3xl font-bold mb-6">Gallery 1</h1>
  <LightGallery />
</Layout>
