---
import 'lightgallery/css/lightgallery.css';
import 'lightgallery/css/lg-zoom.css';
import 'lightgallery/css/lg-thumbnail.css';
---

<div id="lightgallery" class="grid grid-cols-2 md:grid-cols-3 gap-4">
  <a href="public/images/gallery1.jpg">
    <img src="public/images/thumbs/gallery1.jpg" alt="Gallery 1" />
  </a>
  <a href="public/images/gallery2.jpg">
    <img src="public/images/thumbs/gallery2.jpg" alt="Gallery 2" />
  </a>
</div>

<script client:load>
  (async () => {
    const lightGallery = (await import('lightgallery')).default;
    const lgZoom = (await import('lightgallery/plugins/zoom')).default;
    const lgThumbnail = (await import('lightgallery/plugins/thumbnail')).default;

    lightGallery(document.getElementById('lightgallery'), {
      plugins: [lgZoom, lgThumbnail],
      speed: 500,
      thumbnail: true,
      animateThumb: true,
      showThumbByDefault: true,
      thumbWidth: 100,
      thumbHeight: '60px',
    });
  })();
</script>

